beautifulsoup4
bs4
certifi
chardet
Click
cycler
idna
kiwisolver
languageflow
matplotlib
numpy
pandas
pyparsing
python-crfsuite
python-dateutil
pytz
requests
scikit-learn
scipy
six
sklearn
underthesea
urllib3
